src/main/resources/Menus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iaws/resto/menus/projet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RestoMenus" type="proj:RestoMenusType" xmlns:proj="http://iaws/resto/menus/projet"/>
  <xs:complexType name="MenusType">
    <xs:sequence>
      <xs:element name="id_menu">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nomme">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Fruits de mer"/>
            <xs:enumeration value="BBQ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="image">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="../../images/Fruitsdemer.jpg"/>
            <xs:enumeration value="../../images/BBQ.jpg"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="prix">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="15.30"/>
            <xs:enumeration value="18.30"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MenusAllType">
    <xs:sequence>
      <xs:element type="proj:MenusType" name="Menus" maxOccurs="unbounded" minOccurs="0" xmlns:proj="http://iaws/resto/menus/projet"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RestoMenusType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="tablecommande"/>
      <xs:element type="proj:MenusAllType" name="MenusAll" xmlns:proj="http://iaws/resto/menus/projet"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="MenusRequest" xmlns:proj="http://iaws/resto/menus/projet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id_table" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>